.sidebar {
    flex: 1;
    border-right: .5px solid rgb(172, 170, 170);
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: purple;
        }
    }

    hr {
        height: 0;
        border: .5px solid rgb(224, 220, 220);
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: rgb(106, 102, 102);
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 7px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(173, 158, 210);
                }

                .icon {
                    font-size: 18px;
                    color: rgb(55, 10, 55);
                }

                span {
                    font-size: 13px;
                    font-weight: bold;
                    color: gray;
                    margin-left: 15px;

                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;

        .color-option {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid black;
            cursor: pointer;
            margin: 3px;

            &:nth-child(1) {
                background-color: whitesmoke;
            }

            &:nth-child(2) {
                background-color: rgb(19, 7, 7);
            }
        }
    }
}